<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversion - Monsters Inc.</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body class="conversion-page">
    <img src="/static/images/sullymobile.png" alt="Door" class="sulley-img">
    <div class="container-conv">
        <h1 class="titulo-verde">Conversor de Unidades de Presión -</h1>
        <h1 class="titulo-verde">Grupo 5</h1>
        <form action="/convert" method="post" class="conversion-form">
            <p class="clase-p">Valor</p>
            <input type="number" name="value" required>
            <p class="clase-p">Unidad de Origen</p>
            <select name="unit_from" required>
                <option value="psi">Libras por Pulgada Cuadrada (PSI)</option>
                <option value="bar">BAR</option>
                <option value="atm">Atmósferas (ATM)</option>
                <option value="pa">Pascal (PA)</option>
                <option value="mmhg">Milímetros de Mercurio (mmHg)</option>
            </select>
            <p class="clase-p">Unidad de Destino</p>
            <select name="unit_to" required>
                <option value="psi">Libras por Pulgada Cuadrada (PSI)</option>
                <option value="bar">BAR</option>
                <option value="atm">Atmósferas (ATM)</option>
                <option value="pa">Pascal (PA)</option>
                <option value="mmhg">Milímetros de Mercurio (mmHg)</option>
            </select>
            <button type="submit" class="btn-morado">Convertir</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p class="clase-p centrado">
            {% for message in messages %}
            {{ message }}{% if not loop.last %}<br>{% endif %}
            {% endfor %}
        </p>
        {% endif %}
        {% endwith %}


    </div>
</body>

</html>