<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Monsters Inc.</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body class="login-page">
    <div class="container">
        <h1>¡Bienvenido!</h1>
        <p>Conversión de Unidades de Presión</p>
        <form action="/login" method="post" class="login-form">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <img src="/static/images/sulley2.png" alt="Mike and Sulley" class="hero-img">
    </div>
</body>

</html>