body {
    margin: 0;
    font-family: 'Comic Sans MS', sans-serif;
    background: linear-gradient(to bottom, #a3d5ff, #6aaeff);
    color: #333;
}

.container {
    max-width: 600px;
    margin: 1.3rem auto;
    padding: 3rem;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container-conv {
    max-width: 600px;
    margin: 1.3rem auto;
    padding: 1rem 3rem 3rem 3rem;
    background: #c9ebee;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}


h1 {
    font-size: 2rem;
    color: #020202;
}

.clase-p {
    font-size: 1.2rem;
    color: #04a194;
    font-weight: bold;
    text-align: left;
}

.titulo-verde {
    font-size: 2rem;
    color: #04a194;
    margin: 0%;
}

.centrado {
    text-align: center;
}

input,
select,
button {
    width: 100%;
    box-sizing: border-box;
    padding: 0.8rem;
    margin: 0.1rem 0;
    border: 2px solid #04a194;
    border-radius: 10px;
    font-size: 1rem;
}

button {
    background-color: #2c88d9;
    color: #fff;
    border: 2px solid #04a194;
    cursor: pointer;
    font-weight: bold;
    margin: 0.2rem 0;
}

button:hover {
    background-color: #1b5b92;
}

.hero-img {
    margin-top: 1rem;
    max-width: 100%;
    border-radius: 10px;
}

.login-page {
    background-image: url("/static/images/fondo2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.conversion-page {
    background-image: url("/static/images/fondo2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sulley-img {
    margin: 1rem auto;
    display: block;
    height: 30vh;
    border-radius: 10px;
}


.btn-morado {
    background-color: #532a94;
    color: #fff;
    border: 2px solid #04a194;
    cursor: pointer;
    font-weight: bold;
    margin: 0.2rem 0;
}